
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
 
  font-size: 62.5%;
  
}
body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ac5391;
  color: #e5e6e8;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}


.header {
  background-color: #aa76df;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 1rem;
  margin-left: 2rem;

  font-size: 3rem;
  font-weight: bold;
}
.header__logo a {
  color: #0e7791;
  text-decoration: none;
}

.header__nav {
  padding: 2rem;
  margin-right: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 2rem;
  font-weight: bold;
}

.header__nav a {
  color: #0e7791;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.footer {
  background-color: #aa76df;

  padding: 2rem;
  color: #0e7791;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  list-style: none;

  
  display: flex;
  justify-content: center;
  gap: 2rem; 
}
.btn {
    background-color: #ac5391;
    color: #f5eef4;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 0.5rem ;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

}
.btn:hover {
    background-color: #0e7791;
    border: 2px solid #e5e6e8;
}
.btn-eliminar-carrito{
    background-color: aqua;
    border: 2px solid #e5e6e8;
}
.btn-vaciar-carrito{
    background-color: #ac5391;
    color: #e5e6e8;
}
.btn-vaciar-carrito:hover {
    background-color: #e5e6e8;
}
/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

main {
  width: 90%;

  
  flex: 1;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 4rem;
  margin: 2rem 0;
}

main .parrafo-home {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}

.productos-home {
  width: 100%;
}

.productos-home h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin: 3rem;
}

.contenedor-tarjetas,
#contenedor-carrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tarjeta-producto {
  background-color: #aa76df;
  padding: 1rem;
  border-radius: 1rem;
  width: 30rem;

  
  display: flex;
  flex-direction: column;
  align-items: center;

 
  gap: 1rem;
}

.tarjeta-producto h3 {
  font-size: 2.5rem;
}

.tarjeta-producto p {
  font-size: 2rem;
  font-weight: bold;
}

.tarjeta-producto img {
  width: 100%;
  border-radius: 0.5rem;
  
}
.tarjeta-producto button{
  background-color: rgb(42, 42, 214) ;
  color: aqua ;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0.5rem;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                  Contacto                                  */
/* -------------------------------------------------------------------------- */

.seccion-contacto {
  width: 100%;

  margin: 2rem auto;
}

.titulo-contacto {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color: #aa76df;
  padding: 5rem;
  border-radius: 1rem;
  width: 60%;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.campo-form label {
  font-size: 2rem;
}
.campo-form input,
.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
}

.form button {
  background-color: #1a0f11;
  color: #e5e6e8;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}
.mensaje-carrito-vacio {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;

}
.acciones-carrito {
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;

    }
    .header__logo,
    .header__nav {
        margin: 0;
    }
    .contenedor-tarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .tarjeta-producto {
        width: 80%;
    }
    .form {
        width: 80%;
        min-width: 400px;
    }
}
.productos-home {
  width: 100%;
  display: flex;
  flex-direction: column;
}